Repository 40min/wb_anki: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, flake8

black:
  name: black
  entry: uv run black
  language: system

isort:
  name: isort
  entry: uv run isort
  language: system

mypy:
  name: mypy
  entry: uv run mypy src
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: uv run flake8
  language: system

simplify project structure
  .coverage
  Makefile
  main.py
  src/wb_anki/anki_client.py
  src/wb_anki/cli.py
  src/wb_anki/cli/__init__.py
  src/wb_anki/client/__init__.py
  src/wb_anki/config.py
  src/wb_anki/config/__init__.py
  src/wb_anki/parser.py
  src/wb_anki/parser/__init__.py
  tests/test_anki_client.py
  tests/test_config.py
  tests/test_parser.py
Due: black, isort, mypy, flake8

fix run command
  .gitignore
  pyproject.toml
Due: none

few small fixes
  .gitignore
  pyproject.toml
Due: none

update proj structure
  README.md
  main.py
  pyproject.toml
  tests/test_anki_client.py
  tests/test_config.py
  tests/test_parser.py
  uv.lock
  wb_anki/__init__.py
  wb_anki/anki_client.py
  wb_anki/cli.py
  wb_anki/config.py
  wb_anki/parser.py
Due: black, isort, flake8

fix tests
  .coverage
  pyproject.toml
  tests/test_anki_client.py
  tests/test_config.py
Due: black, isort, flake8

remove prd
  prd.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: ^src/
  flake8: any of: \.py$
